* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Poppins-Regular";
  background-color: #f2f2f2;
}

/* HEADER */

.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 55px;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.nav-li {
  list-style: none;
}

.nav-item {
  color: black;
  text-decoration: none;
  font-size: 14px;

  position: relative;
}

.nav-item::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #29b24e;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.nav-item:hover::after {
  width: 100%;
}

.button {
  padding: 13px 26px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #29b24e;
}

.button:hover {
  background-color: #54c171;
}

/* MAIN SECTION */

.section-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.left-section-image {
  width: 810px;
  height: 732px;
  border-radius: 24px;
}

.right-section {
  width: 786px;
  height: 732px;
  padding: 35px;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 72px;
}

.right-section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 27px;
}

.top {
  align-items: center;
}

.mid {
  margin-top: 24px;
  content: "";
  width: 100%;
  border-bottom: 1px solid #ececec;
  height: -20px;
}

.flex-vip {
  background-color: #29b24e;
  color: white;
  font-size: 12px;
  padding: 6px 11px;
  border-radius: 15px;
}

.flex-posted,
.flex-view {
  font-size: 12px;
  color: black;
  opacity: 60%;
  background-color: white;
}

.right-section-h2 {
  background-color: white;
  margin-bottom: 12px;
}

.right-section-location {
  background-color: white;
  margin-bottom: 32px;
  opacity: 60%;
}

.right-section-text {
  font-size: 14px;
  background-color: white;
  line-height: 23px;
  margin-bottom: 40px;
}

.right-section-span {
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  margin-right: 24px;
  font-weight: 500px;
}

.right-section-div {
  background-color: white;
}

.underline:before {
  content: "";
  width: 100%;
  display: inline-block;
  background-color: white;
  border-top: 1px solid #ececec;
  height: 16px;
}

.underline:after {
  content: "";
  width: 100%;
  display: inline-block;
  background-color: white;
  border-top: 1px solid #ececec;
}

.flex-for-mobile {
  background-color: white;
}

.right-section-h6 {
  background-color: white;
  font-size: 12px;
  opacity: 60%;
  font-weight: 400;
}

.right-section-p,
.right-section-li {
  background-color: white;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}

.right-section-p {
  margin-bottom: 16px;
}

.section-price {
  text-align: end;
  color: #29b24e;
  font-size: 36px;
  font-weight: bold;
  background-color: white;
  padding-left: 54px;
}

.section-price-span {
  color: black;
  font-size: 16px;
  font-weight: normal;
  background-color: white;
}

.left:hover {
  background-color: #f8f8f8;
}

.left {
  color: #29b24e;
  border: 1px solid #29b24e;
  background-color: white;
  margin-right: 16px;
}

.right:hover {
  background-color: #54c171;
}

/* BOTTOM ARTICLES SECTION */

.bottom-section {
  margin-bottom: 120px;
}

.bottom-section-h2 {
  font-size: 22px;
  margin-bottom: 24px;
}

.bottom-section-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.article-h3 {
  background-color: #f8f8f8;
}

.article-link {
  text-decoration: none;
  color: black;
  background-color: #f8f8f8;
}

.article-link:hover {
  color: #29b24e;
}

.article {
  max-width: 395px;
  width: 100%;
  background-color: #f8f8f8;
  padding: 16px;
  border-radius: 28px;
  position: relative;
}

.article::before {
  content: "VIP TOP+";
  background-color: #29b24e;
  color: white;
  font-size: 18px;
  padding: 6px 11px;
  border-radius: 15px;
  position: absolute;
  left: 30px;
  top: 30px;
}

.article-image {
  padding-bottom: 16px;
  background-color: #f8f8f8;
}

.svg {
  width: 40px;
  height: 40px;
  color: #29b24e;
  background-color: white;
  position: absolute;
  top: 200px;
  right: 30px;
  border-radius: 50%;
  padding: 10px;
}

.article-location {
  opacity: 50%;
  margin-bottom: 8px;
  background-color: #f8f8f8;
}

.article-price {
  text-align: end;
  color: #29b24e;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
  background-color: #f8f8f8;
}

.article-price::after {
  width: 100%;
  display: block;
  content: "";
  border-bottom: 3px solid #cfead6;
  margin-top: 16px;
  margin-bottom: 24px;
}

.article-price-span {
  color: black;
  font-size: 12px;
  font-weight: normal;
  background-color: #f8f8f8;
}

.article-flex {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
}
.article-flex-span {
  background-color: #f8f8f8;
}

/* FOOTER */

.footer {
  padding: 10px;
  border-radius: 24px;
  width: 100%;
  height: 179px;
  background-color: #29b24e;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #29b24e;
  padding: 32px 140px;
}

.footer-left,
.footer-right {
  display: flex;
  justify-content: space-between;
  gap: 48px;
  background-color: #29b24e;
}

.footer-center {
  background-color: #29b24e;
}

.footer-link {
  color: white;
  background-color: #29b24e;
  text-decoration: none;
}

.bottom {
  padding-top: 32px;
  text-align: center;
  border-top: 2px solid #d0d0d0;
}

.footer-mobile-nav {
  display: none;
}

.footer-mobile-nav {
  display: none;
}

/* MEDIA QUERIES */

@media (max-width: 1400px) {
  .section-flex {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    height: 220px;
  }

  .bottom {
    padding-bottom: 20px;
  }
}

@media (max-width: 900px) {
  .footer {
    height: 250px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 375px;
    padding: 20px;
  }

  .header {
    display: none;
  }

  .left-section-image {
    max-width: 335px;
    height: 316px;
  }

  .right-section {
    height: 1060px;
    padding: 20px;
  }

  .section-flex {
    flex-direction: column;
  }

  .right-section-h2 {
    font-size: 18px;
  }

  .right-section-location {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .right-section-text {
    font-size: 12px;
  }

  .right-section-ul {
    list-style: none;
    background-color: white;
  }

  .mid {
    flex-direction: column;
  }

  .flex-for-mobile {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .right-section-p {
    text-align: end;
  }

  .section-price {
    font-size: 24px;
  }

  .section-price-span {
    font-size: 12px;
  }

  .right-section-flex {
    margin-bottom: 16px;
  }

  .but {
    display: flex;
    flex-direction: column-reverse;
    gap: 12px;
  }

  .section-price {
    margin-bottom: 30px;
  }

  .left,
  .right {
    width: 334px;
  }

  .x {
    display: none;
  }

  /* FOOTER FOR MOBILE NAVIGATION */

  .footer {
    height: 326px;
  }

  .footer-flex {
    padding: 40px 20px;
  }

  .footer-center {
    display: none;
  }

  .footer-right,
  .footer-left {
    flex-direction: column;
    gap: 16px;
  }

  .footer-mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 26px;
    margin-top: 84px;
    background-color: white;
    border-radius: 24px 24px 0px 0px;
  }

  .footer-mobile-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    opacity: 80%;
    background-color: white;
  }

  .footer-mobile-icon {
    width: 30px;
    height: 30px;
    background-color: white;
  }

  .center-icon {
    width: 56px;
    height: 56px;
  }

  .icon {
    background-color: white;
  }

  .green-icon {
    background-color: #29b24e;
    color: white;
    border-radius: 12px;
    margin-top: -25px;
  }

  .footer-mobile-name {
    font-size: 12px;
    background-color: white;
  }
  .name-center {
    margin-top: -20px;
  }
  .footer-nav-click {
    background-color: white;
  }

  .footer-nav-button {
    border: none;
    cursor: pointer;
    background-color: white;
    transition: all 0.5s;
  }

  .footer-nav-button:hover {
    color: #29b24e;
  }

  .bottom {
    padding-bottom: 0px;
  }
}
